Company Infor

In [2]:
%matplotlib inline
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd
pd.set_option('display.width', 400)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("poster")

In [5]:
companyinfo=pd.read_csv("CompanyInfo.csv")
df.head(1)

                       Company Name  CMIE company code   Entity type ROC registration number  Incorporation year                Industry group Main product/service group  Main product/service group code  NIC code   Ownership group NSE symbol                       Registered office address Head office address Registrar name  Unnamed: 14 Unnamed: 15 Unnamed: 16 Unnamed: 17 Unnamed: 18
0  'K' Steamship Agencies Pvt. Ltd.                  3  Private Ltd.                11-15089                1971  Other miscellaneous services                   Services                     2.100000e+19     46909  Private (Indian)        NaN  No. 29, Bank Street, Fort,  Mumbai Maharashtra                 NaN            NaN          NaN         NaN         NaN         NaN         NaN

In [10]:
states=pd.read_csv("Indiastates.csv")
states.head(1)

  Rank State or union territory  Population�(2011 Census)[12]  %Decadal Growth (2001�2011)  Rural Pop.[14]  Urban Pop.[14]                   Area[15]               Density  Sex ratio (% of Population of India)[13]
0    1            Uttar Pradesh                     199281477                        0.201       155111022        44470455  240,928�km2(93,023�sq�mi)  828/km2(2,140/sq�mi)        908                         16.49%

In [28]:
companyinfo['Registered office address'].head()

0       No. 29, Bank Street, Fort,  Mumbai Maharashtra
1    35, Chittaranjan Avenue, 6th Floor,  Kolkata W...
2    No. 30/335-A, Poonitura, Vettackal Buildings, ...
3    9/10, G I D C Industrial Estate, Waghodia,  Va...
4    Plot No.157, Village Mamuara, Tal. Bhuj,  Kach...
Name: Registered office address, dtype: object

In [27]:
def textsplit(phrase):
    list=phrase.split()
    return list

companyinfo['textaddress']=companyinfo['Registered office address'].apply(lambda r: textsplit(r))

AttributeError: 'float' object has no attribute 'split'